span.rm-page-ref[data-tag="tidy"], span.rm-page-ref[data-tag="tidy"] {
  background: none;
  border-radius: 10px;
  padding: 1px 10px 1px 10px;
  zoom: 80%;
  color:#5c7080 !important;
  border: 1px solid #5c7080 !important;
  margin: 0 4px !important;
}

.tidyButton{
  margin:0 5px 0 -2px !important
}

.tidyRemoveButton {
  margin-left: -8px !important;
  margin-top: -2px !important;
}

.tidyButton:hover,  .tidyRemoveButton:hover{
  background: transparent !important;
}

.tidyButton span, .tidyRemoveButton span {
  padding-left: -2px !important;
}

.tidyButton svg, .tidyRemoveButton svg {
  width: 14px !important;
  height: 14px !important;
  opacity: 0.8 !important;
}